img {
	float: right;
}
div {
	height: 375px;
}
h1 {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
}
i {
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-family: 'Roboto', sans-serif;
}